body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 960px;
}
main p {
  font-size: 1.2em;
}
.article-meta {
  text-align: start;
  background: transparent;
}
.title {
  font-size: 1.5em;
}
.post-titles {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.2em;
}