<link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
<div class="header-container">
  <h1><a href="{{ "" | relURL }}">Arif's Homepage</a></h1>
  <ul>
    <li>
      <a href="/projects">Projects</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
  </ul>
  <button id="btn-switch-theme">Switch to dark Theme</button>
  <script>
    const btnSwitchTheme = document.getElementById("btn-switch-theme")

    function getTheme() {
      const cookies = Object.fromEntries(
        document.cookie.split("; ").map(c => c.split("="))
      );
      return cookies.theme || "light";
    }

    function invertTheme(theme) {
      return theme == "light" ? "dark" : "light"
    }

    function switchTheme(toTheme) {
      btnSwitchTheme.textContent = "Switch to " + invertTheme(toTheme) + " theme"
      document.querySelector("html").style = toTheme == "dark" ? "filter: invert(1);" : ""
    }

    btnSwitchTheme.addEventListener("click", (event) => {
      const theme = getTheme()
      const newTheme = invertTheme(theme)
      document.cookie = "theme=" + newTheme + ";path=/"
      switchTheme(newTheme)
    })

    switchTheme(getTheme())
  </script>
</div>